<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
    <meta charset="UTF-8">
    <title>Jewelry</title>
</head>
<body>

<div th:each="jewel : ${jewelry}">
    <a th:href="@{/jewelry/{id}(id=${jewel.getId()})}"
       th:text="${jewel.toString()}">user</a>
</div>

<br/>
<hr/>

<a href="/jewelry/new">Create new jewel</a>

<form th:method="POST" th:action="@{/jewelry/{price}(price=${price})}">
 <label for="price">Enter price: </label>
    <input type="text" th:field="*{price}" id="price"/>
    <input type="submit" value="Show jewelry Up To price"/>
</form>

</body>

</html>